include ../promo/promo
include ../header/header
include ../container/container
include ../socials/socials
include ../link/link
include ../icon/icon
include ../btn/btn
include ../card/card
include ../bottom/bottom
include ../footer/footer
include ../me/me
include ../contacts/contacts
include ../map/map
include ../nav/nav
include ../text/text
include ../overlay-menu/overlay-menu

mixin about()
	+b.about&attributes(attributes)
		+promo()
			+header()
				+container()._header-about
					+socials()
						+link('https://vk.com/id29755814')._social
							+icon('vk', true)
						+link('https://github.com/korney197823')._social
							+icon('github', true)
						+link('#')._social
							+icon('in', true)
					+btn()._menu-toggle
						+icon('hamburger', true)

			+card()._no-bg
				+e.img-wrap
					+e.IMG.img(src="assets/images/ava.jpg")
				+e.H2.title._light Денис Корниенко
				+e.P.text._light Личный сайт веб разработчика

			+btn._scroll-down(href="#me")
				+icon('arrow_down', true)

		+me(id="me")
		+bottom()
			+contacts()

			+map(id="map")

			+footer()._complete
				+e().top
					+nav(
							['works', 'about', 'blog', 'index'],
							['Мои работы', 'Обо мне', 'Блог', 'Авторизация']
						)._footer
					+socials()._round
						+link('https://vk.com/id29755814')._social._social-round
							+icon('vk_round', true)
						+link('https://github.com/korney197823')._social._social-round
							+icon('github_round', true)
						+link('#')._social._social-round
							+icon('in_round', true)
				+e().bottom
					+text()._transparent.
						Я разработчик из Геленджика, и этот сайт я сделал в рамках обучения в
						Школе онлайн образования LoftSchool.
					+text()._transparent.
						&copy; Корниенко Денис | создано с любовью в 2017

		+overlay-menu()
