include ../promo/promo
include ../parallax/parallax
include ../header/header
include ../container/container
include ../socials/socials
include ../link/link
include ../icon/icon
include ../btn/btn
include ../card/card

mixin about()
	+b.about&attributes(attributes)
		+promo()
			+header()
				+container()._header-about
					+socials()
						+link('https://vk.com/id29755814')._social
							+icon('vk', true)
						+link('https://github.com/korney197823')._social
							+icon('github', true)
						+link('#')._social
							+icon('in', true)
					+btn()._menu-toggle
						+icon('hamburger', true)

			+card()._no-bg
				+e.img-wrap
					+e.IMG.img(src="assets/images/ava.jpg")
				+e.H2.title._light Денис Корниенко
				+e.P.text._light Личный сайт веб разработчика

			+btn()._scroll-down
				+icon('arrow_down', true)
