.bottom
	position relative
	display block
	&_works
		min-height 1300px
		background-image url('../images/form.jpg')
		background-repeat no-repeat
		background-position bottom center
		background-size cover
