.field
	padding-x(14px)
	padding-y(12px)
	display block
	flex-grow 1
	border none
.field__wrap
	margin-bottom 22px
	display flex
	overflow hidden
	border-radius 4px
	&_checkbox
		margin-bottom 12px
		justify-content center
	&_radio
		margin-bottom 26px
		justify-content center
.field-icon
	display flex
	width 17%
	justify-content center
	align-items center
	background-color: #f0efe9
	svg
		width 12px
		height 12px
