.field
	padding-x(20px)
	padding-y(12px)
	display block
	flex-grow 1
	border none
.field__wrap
	margin-bottom 20px
	display flex
	overflow hidden
	border-radius 4px
	&_checkbox
		justify-content center
.field-icon
	display flex
	width 17%
	justify-content center
	align-items center
	background-color: #f0efe9
	svg
		width 12px
		height 12px
