include ../promo/promo
include ../header/header
include ../container/container
include ../socials/socials
include ../link/link
include ../icon/icon
include ../btn/btn
include ../card/card
include ../posts/posts
include ../bottom/bottom
include ../footer/footer
include ../nav/nav

mixin blog()
	+b.blog&attributes(attributes)
		+promo()
			+header()
				+container()._header-about
					+socials()
						+link('https://vk.com/id29755814')._social
							+icon('vk', true)
						+link('https://github.com/korney197823')._social
							+icon('github', true)
						+link('#')._social
							+icon('in', true)
					+btn()._menu-toggle
						+icon('hamburger', true)

			+card()._no-bg
				+e.img-wrap
					+e.IMG.img(src="assets/images/ava.jpg")
				+e.H2.title._light._blog Блог
				+e.P.text._light Статьи которые я написал

			+btn._scroll-down(href="#blog")
				+icon('arrow_down', true)

		+posts(getData('posts'))

		+bottom()

			+footer()._complete
				+e().top
					+nav(
					['works', 'about', 'blog', 'index'],
					['Мои работы', 'Обо мне', 'Блог', 'Авторизация']
					)._footer
					+socials()._round
						+link('https://vk.com/id29755814')._social._social-round
							+icon('vk_round', true)
						+link('https://github.com/korney197823')._social._social-round
							+icon('github_round', true)
						+link('#')._social._social-round
							+icon('in_round', true)
				+e().bottom
					+text()._transparent.
						Я разработчик из Геленджика, и этот сайт я сделал в рамках обучения в
						Школе онлайн образования LoftSchool.
					+text()._transparent.
						&copy; Корниенко Денис | создано с любовью в 2017

		+b('nav').overlay-menu&attributes(attributes)
			+e('ul').list
				+e('li').item
					+e('a').link(href='works.html') Мои работы
				+e('li').item
					+e('a').link Блог
				+e('li').item
					+e('a').link(href='about.html') Обо мне
				+e('li').item
					+e('a').link(href='index.html') Авторизация
			+e().close
