.link
	display block
	&_social
		svg
			width 30px
			height 25px
	&_social-dark
		&:not(:last-of-type)
			margin-right 30px
		svg
			fill rgba(0, 191, 165, 1)
			&:hover
				fill rgba(0, 191, 165, .5)

