.link
	display block
	&_social
		&:not(:last-of-type)
			margin-right 30px
		svg
			width 30px
			height 25px
			fill rgba(255, 255, 255, .5)
	&:hover
		svg
			transition .3s
			fill rgba(255, 255, 255, 1)
	&_social-dark
		svg
			fill rgba(0, 191, 165, 1)
		&:hover
			svg
				transition .3s
				fill rgba(0, 191, 165, .5)
	&_social-round
		&:not(:last-of-type)
			margin-right 10px
		svg
			width 36px
			height 36px
