mixin overlay-menu()
	+b('nav').overlay-menu&attributes(attributes)
		+e('ul').list
			+e('li').item
				+e('a').link(href='works.html') Мои работы
			+e('li').item
				+e('a').link(href='blog.html') Блог
			+e('li').item
				+e('a').link Обо мне
			+e('li').item
				+e('a').link(href='index.html') Авторизация
		+e().close
