.subtitle
	display block
	font-family bernier
	font-size 21px
	line-height 1.4
	text-align center
	color #455a64
	+tablet()
		font-size 30px
		line-height 36px
	+laptop()
		font-size 35px
		line-height 41px
	&_about-info
		padding-top 26px
		padding-bottom 6px
