.title
	position relative
	display block
	font-family bernier
	font-size 30px
	line-height 36px
	text-align center
	text-transform uppercase
	color #455a64
	&:before,
	&:after
		position absolute
		top 16px
		width 22px
		height 5px
		content ''
		background-color #d1d2d2
	&_login
		margin-top 36px
		+laptop()
			font-size 35px
		&:before
			left 26px
			+tablet()
				left 40px
		&:after
			right 26px
			+tablet()
				right 40px
	&_dark
		font-size 35px
		line-height 42px
		color #373e42
	&_about-info
		margin 0 auto
		width 200px
		+tablet()
			width 272px
			font-size 49px
			line-height 52px
		+laptop()
			width 360px
			font-size 63px
			line-height 66px
		+desktop()
			position absolute
			right 75%
			transform translateX(50%)
		&:before
			left 0
			+tablet()
				top 22px
			+laptop()
				top 30px
				left 35px

		&:after
			right 0
			+tablet()
				top 22px
			+laptop()
				top 30px
				right 35px

	&_contacts
		margin 0 auto
		width 210px
		font-size 35px
		line-height 42px
		&:before
			top 18px
			left 0
		&:after
			top 18px
			right 0
