.about-info
	display block
	background-color #f0eee9
	+laptop()
		width 50%
	+desktop()
		position relative



.about-info__container
	margin 0 auto
	padding-top 25px
	+tablet()
		width 472px
	+desktop()
		margin-right 20px
		width 50%

.about-info__img-wrap
	margin-top 25px
	height 283px
	+tablet()
		height 414px
	+laptop()
		height 390px
	+desktop()
		margin-top 0
.about-info__img
	margin 0 auto
	display block
	max-width 100%
	height 100%



