.about-info
	display block
	background-color #f0eee9
	+laptop()
		width 50%

.about-info__container
	margin 0 auto
	+tablet()
		width 472px

.about-info__img-wrap
	height 283px
	+tablet()
		height 414px
	+laptop()
		height 390px
.about-info__img
	margin 0 auto
	display block
	max-width 100%
	height 100%



