.container
	padding-x(10px)
	display block
	+tablet()
		margin 0 auto
		width 720px
	+laptop()
		width 1180px
	&_header
		padding-y 10px
		display flex
		justify-content center
		+tablet()
			justify-content flex-end
		+laptop()
			position relative
			padding-x(10px)

	&_header-about
		padding-y(10px)
		display flex
		justify-content space-between
