.container
	padding-x(10px)
	display block
	+tablet()
		margin 0 auto
		width 720px
	+laptop()
		width 1180px
	&_header
		padding-y 10px
		display flex
		justify-content center
		+tablet()
			justify-content flex-end
		+laptop()
			position relative
			padding-x(10px)

	&_header-about
		padding-y(10px)
		display flex
		justify-content space-between

	&_form
		margin 0 auto
		margin-top 30px
		padding-x(0)
		padding-top 30px
		display flex
		overflow hidden
		flex-direction column
		width 300px
		background-color rgba(188, 195, 193, .5)
		border-radius 8px
		+tablet()
			margin-top 50px
			width 348px
			min-height 418px
		+laptop()
			width 380px
			min-height 438px
