.btn
	text-decoration none
	&_auto
		padding 8px 20px
		min-width 140px
		font-size 14px
		font-weight  600
		line-height 24px
		text-align center
		color #ffffff
		border 1px solid #ffffff
		border-radius 4px
		transition .5s
		+tablet()
			min-width 180px
			font-size 16px
			line-height 36px
		+desktop()
			position absolute
			right -190px
		&:hover
			color #00bfa5
			background-color #fff
	&_menu-toggle
		transition transform .3s
		&:hover
			transform scale(1.1)
		svg
			width 25px
			height 22px
			+tablet()
				width 35px
				height 30px
	&_scroll-down
		position absolute
		left 50%
		bottom 50px
		padding 10px
		transform translateX(-50%)
		+laptop()
			bottom 70px
		svg
			width 26px
			height 16px
			fill rgba(255, 255, 255, .5)
			transition .3s
		&:hover
			svg
				fill rgba(255, 255, 255, 1)


