.skills-section
	display block
	background-color #eeebdf
	+laptop()
		width 50%

.skills-section__container
	margin 0 auto
	padding-x(10px)
	padding-top 25px
	padding-bottom 10px
	+tablet()
		width 596px
	+desktop()
		margin-left 40px
		width 800px
