.flipper
	display block
	width 320px
	height 394px
	perspective 1000px
	+tablet()
		width 348px
	+laptop()
		width 380px

.flipper.flip .flipper__wrap
	transform rotateY(180deg)

.flipper__wrap
	position relative
	transition .6s
	transform-style preserve-3d
