.signature
	display flex

.signature__image-wrap
	margin-right 20px
	overflow hidden
	width 77px
	height 77px
	border-radius 50%

.signature__image
	width 100%

.signature__text-wrap
	display flex
	flex-direction column
	justify-content center

.signature__name,
.signature__post
	font-size 14px
	line-height 24px
	color #20b5a1
	+laptop()
		font-size 16px
		line-height 26px
.signature__name
	font-weight 600

