.promo
	position relative
	display flex
	flex-direction column
	height 100vh
	min-height 650px
	background-image url('/assets/images/mountains.jpg')
	background-repeat no-repeat
	background-size cover
	clip-path polygon(0 95%, 50% 100%, 100% 95%, 100% 0, 0 0)
	+tablet()
		clip-path polygon(0 87%, 50% 100%, 100% 87%, 100% 0, 0 0)
	+laptop()
		clip-path polygon(0 75%, 50% 100%, 100% 75%, 100% 0, 0 0)

