include ../header/header
include ../main/main
include ../card/card
include ../footer/footer
include ../text/text

mixin welcome()
	+b.welcome
	
		+header()
		
		+main()
			+card()
		
		+footer()
			+text._footer()
				| &copy; Корниенко Денис создано с любовью в LoftSchool | 2016
