include ../header/header
include ../main/main
include ../flipper/flipper
include ../card/card
include ../title/title
include ../socials/socials
include ../link/link
include ../field/field
include ../checkbox/checkbox
include ../radio/radio
include ../icon/icon
include ../nav/nav
include ../footer/footer
include ../text/text

mixin welcome()
	+b.welcome

		+header()

		+main()
			+flipper(ontouchstart='this.classList.toggle("hover");')
				+e._wrap
					+card()
						+e.img-wrap
							+e.IMG.img(src="assets/images/ava.jpg")
						+e.H2.title Денис Корниенко
						+e.P.text Личный сайт веб разработчика

						+socials()._card
							+link('https://vk.com/id29755814')._social._social-dark
								+icon('vk', true)
							+link('https://github.com/korney197823')._social._social-dark
								+icon('github', true)
							+link('#')._social._social-dark
								+icon('in', true)
						+nav(['works', 'about', 'blog'], ['Мои работы', 'Обо мне', 'Блог'])._mini
					+card()._back
						+e.wrap
							+title()._login Авторизуйтесь
							.field__wrap
								.field-icon
									+icon('login', true)
								+field({ type: 'text', name: 'login', value: '', placeholder: 'Логин' })
							.field__wrap
								.field-icon
									+icon('password', true)
								+field({type: 'password', name: 'password', value: '', placeholder: 'Пароль'})
							.field__wrap.field__wrap_checkbox
								+checkbox({checkboxlabel: 'Я человек', name: 'bot', id: 'bot'})
							+text()._bot Вы точно не робот
							.field__wrap.field__wrap_radio
								+radio(
								{
									radiolabel: 'Да',
									id: 'yes',
									name: 'human'
								}
								)
								+radio(
								{
									radiolabel: 'Не уверен',
									id: 'no',
									name: 'human'
								}
								)

		+footer()
			+text._footer()
				| &copy; Корниенко Денис создано с любовью в LoftSchool | 2016
