include ../header/header
include ../main/main
include ../card/card
include ../socials/socials
include ../link/link
include ../icon/icon
include ../footer/footer
include ../text/text

mixin welcome()
	+b.welcome

		+header()

		+main()
			+card()
				+socials()
					+link('https://vk.com/id29755814')._social._social-dark
						+icon('vk', true)
					+link('https://github.com/korney197823')._social._social-dark
						+icon('github', true)
					+link('#')._social._social-dark
						+icon('in', true)

		+footer()
			+text._footer()
				| &copy; Корниенко Денис создано с любовью в LoftSchool | 2016
