.text
	display block
	font-size 14px
	font-weight 300
	line-height 24px
	text-align center
	&_bot
		margin-bottom 7px
		font-size 16px
		font-weight 700
		text-align center
		color #64767f
	&_footer
		padding-x(5px)
		text-align center
		color #ffffff
		+laptop()
			font-size 16px
	&_gray
		color #455a64
	&_about-info
		padding-x(10px)
		padding-y(10px)
		text-align left
		+tablet()
			padding-x(0)
		+laptop()
			font-size 16px
	&_skills-section
		margin 0 auto
		padding-y(10px)
		text-align left
		+tablet()
			width 472px
		+laptop()
			width auto
			font-size 16px
	&_contacts
		font-size 16px
		font-weight 600
		line-height 24px
		color #78858b
