.text
	display block
	font-size 14px
	font-weight 300
	line-height 24px
	text-align center
	&_bot
		margin-bottom 7px
		font-size 16px
		font-weight 700
		text-align center
		color #64767f
	&_footer
		padding-x(5px)
		text-align center
		color #ffffff
		+laptop()
			font-size 16px
	&_gray
		color #455a64
	&_about-info
		padding-x(10px)
		padding-y(10px)
		text-align left
		+tablet()
			padding-x(0)
		+laptop()
			font-size 16px
	&_skills-section
		margin 0 auto
		padding-y(10px)
		text-align left
		+tablet()
			width 472px
		+laptop()
			width auto
			font-size 16px
	&_contacts
		font-size 16px
		font-weight 600
		line-height 24px
		color #78858b
	&_transparent
		color rgba(255, 255, 255, .5)
		&:not(:last-of-type)
			margin-bottom 15px
			+laptop()
				margin-bottom 0
		+tablet()
			font-size 16px
		+laptop()
			width 50%
			&:first-of-type
				text-align left
			&:last-of-type
				text-align right
	&_slider
		margin 0 auto
		margin-top 17px
		padding-y(4px)
		width 300px
		font-size 14px
		font-weight 600
		text-transform uppercase
		color #20b5a1
		border-top 1px solid #c2d4cc
		border-bottom 1px solid #c2d4cc
		+tablet()
			padding-y(15px)
			width 348px
			font-size 16px
		+laptop()
			margin-top 35px
			width 420px
	&_review
		padding-y(15px)
		text-align left
		+laptop()
			font-size 16px
			line-height 26px
	&_post
		text-align left
		+laptop()
			font-size 16px
			line-height 26px
	&_date
		color #00bfa5


