.m-title
	margin-top 20px
	font-size 21px
	font-weight 300
	line-height 28px
	text-align center
	color #373e42
	&_4
		margin-bottom 15px
		font-size 21px
		font-weight 600
		color #474b57
// @stylint off
graph($cx, $cy, $r, $stroke, $stroke-width, $fill)
	cx $cx
	cy $cy
	r $r
	stroke $stroke
	stroke-width $stroke-width
	fill $fill
// @stylint on

// Variables
// Original values
$graph__d = 110
$graph__sw = 20
// Calculation values
$graph__r = ($graph__d / 2) - ($graph__sw / 2)
$graph__x = ($graph__d / 2)
$graph__y = ($graph__d / 2)
$graph__p = (2 * 3.14 * $graph__r)

.m-skills
	margin 0
	&__list
		margin 0
		padding 0
		display flex
		flex-wrap wrap
		justify-content space-around
		list-style none
		+laptop()
			justify-content flex-start
	&__item
		position relative
		margin-bottom 27px
		padding 0
		width 110px
		height 110px
		&:not(:last-of-type)
			margin-right 37px
	&__title
		position absolute
		top 50%
		left 50%
		margin auto
		display block
		font-size 12.8px
		font-weight 600px
		color #00bfa5
		transform translate(-50%, -50%)

.m-graph
	width 100%
	height 100%
	transform rotate(-90deg)
	// @stylint off
	viewBox 0 0 $graph__d $graph__d
	// @stylint on
	&__canvas
		graph($graph__x, $graph__y, $graph__r, #dfdcd5, $graph__sw, transparent)
	&__progress
		graph($graph__x, $graph__y, $graph__r, #16c2aa, $graph__sw, transparent)
		for percent in 0 10 20 30 40 50 60 70 80 90 100
			&_{percent}
				stroke-dasharray ($graph__p / 100 * percent) $graph__p
